<div id="chat-box">
    <div id="chat-header">
        <p class="welcome">CustomerId: <b>{{customerId}}</b></p>
        <br>
        <p *ngIf="!connectedToAgent && chatStarted">Connecting to agent...</p>
        <div style="clear:both"></div>
    </div>

    <div id="messages">
        <div *ngFor="let msg of messages">
            <message [message]="msg"></message>
        </div>
    </div>
    <div class="members-typing">
        <span [hidden]="!membersTyping">{{membersTyping}} is typing ... </span>
    </div>

    <input type="button" *ngIf="!chatStarted" (click)="startChat()" value="Start Chat" style="width: 100%;"/>

    <form name="message" *ngIf="chatStarted">
        <input id="chat-input" type="text" [placeholder]="!connectedToAgent ? 'Connecting to agent...' : 'say anything!'" autofocus [(ngModel)]="input" [disabled]="!connectedToAgent"/>
        <input type="submit" id="send-message-btn" value="Send" (click)="onSubmit()" [disabled]="!connectedToAgent" />
        <input type="file" value="Send Document" (change)="sendDocument($event)" [disabled]="!connectedToAgent" />
    </form>
</div>