<div>
    <label for="">Username</label>
    <br>
    <select [(ngModel)]="selectedUser" class="form-control">
        <option *ngFor="let u of users" [ngValue]="u">{{u.id + ' - ' + u.email}}</option>
    </select>
</div>

<div>
    <label for="">Password</label>
    <br>
    <input type="password" class="form-control" value="{{ selectedUser ? 'password' : null }}" disabled="disabled">
</div>

<div>
    <button (click)="login()" class="btn btn-default" [disabled]="!selectedUser"> Login</button>
</div>